@import 'src/styles/color.scss';
@import 'src/styles/common.scss';

.item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  border: 1px solid $grey100;
  background-color: #fff;
  position: relative;
}

.imgBox {  
  .mainImg {
    max-width: 150px;
    height: 250px;
    object-fit: contain;
  }
  
  .cartImgBox {
    cursor: pointer;
    .cartImg {
      position: absolute;
      bottom: 75px;
      right: 10px;
      padding: 10px;
      background-color: $grey100;
      border-radius: 50%;
      font-size: 30px;
    }
  }
}

.itemDesc {
  display: flex;
  flex-direction: column; 
  margin: 10px 15px;
  width: 90%;
  gap: 3px;

  .winery {
    margin-top: 5px;
    font-size: 14px;
    color: $grey400;
    @include ellipsis(1);
  }

  .wine {
    font-size: 16px;
    @include ellipsis(1);
  }

  .price {
   font-size: 17px;
   font-weight: bold; 
  }
}

// $highlightingColors: "#B70055", "#FFD2CC", "#F4B000", "#FF9B99", "#7A0050", "#FFE100";
$winetypes: "Red", "White", "Sparkling", "Rose", "Port", "Dessert";

@each $type in $winetypes {
  .winetype-#{$type} {
    font-weight: bold;
    @if $type == "Red" {
      color: #B70055;
    } @else if $type == "White" {
      color: #FFD2CC;
    } @else if $type == "Sparkling" {
      color: #F4B000;
    } @else if $type == "Rose" {
      color: #FF9B99;
    } @else if $type == "Port" {
      color: #7A0050;
    } @else if $type == "Dessert" {
      color: #FFE100;
    }
  }
}