@import 'src/styles/color.scss';

.item{
  display: flex;
  justify-content: center;
  border: 1px solid $grey100;
  background-color: #fff;
  border-radius: 5px;
}

.imgBox {
  // display: flex;
  // justify-content: center;
  // border: 1px solid $grey100;
  // background-color: #fff;
  // border-radius: 5px;

  .img {
    max-width: 150px;
    height: 250px;
  }
}

.itemDesc {
  // display: flex;
  // flex-direction: column; 
  // margin-top: 10px;

  // .title {
  //   font-size: 16px;
  // }

  // .info {
  //   margin-top: 5px;
  //   font-size: 14px;
  //   color: $grey400;
  // }
}