@import 'src/styles/color.scss';
@import 'src/styles/responsive.module.scss';

.wrapper {
  padding: 2rem;
  border: 1px solid $grey200;
  border-radius: 15px;
}

.title {
  margin: 1rem;

  @include breakpoint(medium) {
    text-align: center;
   }
 
   @include breakpoint(small) {
    margin: 1rem 0;
   }
}

.itemWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 150px);

  @include breakpoint(medium) {
   grid-template-columns: 1fr 1fr; 
  }

  @include breakpoint(small) {
    grid-template-columns: 1fr;
  }
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
  &:hover {
    background-color: $grey100;
    cursor: pointer;
  }

  .imgBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    border: 1px solid $grey200;
    border-radius: 50%;
  
    .img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }

  .label {
    text-align: center;
  }
}

.selectedList {
  border: 1px solid $grey400;
  background-color: $grey200;
  border-radius: 10px;
}