@import 'src/styles/color.scss';

.itemWrapper {
  max-height: 0px;
  height: 100%;
  overflow: hidden;
  transition: linear 0.5s;
}

.selectedWrapper {
  transition: linear 0.3s;
  max-height: 3rem;
}

.item {
  display: flex;
  align-items: center;
  margin-top: 1px;
  height: 35px;
  background-color: $grey50;
  padding-left: 1rem;
  border-radius: 5px;

  &:hover {
   background-color: $grey200; 
   font-weight: bold;
   cursor: pointer;
  }
}

.selected {
  color: #2f8fea;
  background-color: #2f8fea20;
  font-weight: bold;
  
  &:hover {
    color: #2f8fea;
    background-color: #2f8fea20;
  }
}