@import 'src/styles/color.scss';
@import 'src/styles/common.scss';

.listWrapper {
  display: flex;
  margin-top: 15px;
  border: 1px solid $grey200;
  border-radius: 5px;
}

.imageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  min-height: 120px;

  .mainImg {
    object-fit: contain;
    height: 100px;
  }
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .winery {
    margin: 3px 0;
    font-size: 14px;
    color: $grey400;
    @include ellipsis(1);
  }
  
  .wine {
    max-width: 310px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    @include ellipsis(1);
  }

  .priceAndAmountBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
    .totalPrice {
      font-size: 20px;
      font-weight: bold;
    }
  }
}

$winetypes: "Red", "White", "Sparkling", "Rose", "Port", "Dessert";

@each $type in $winetypes {
  .winetype-#{$type} {
    font-weight: bold;
    @if $type == "Red" {
      color: #B70055;
    } @else if $type == "White" {
      color: #FFD2CC;
    } @else if $type == "Sparkling" {
      color: #F4B000;
    } @else if $type == "Rose" {
      color: #FF9B99;
    } @else if $type == "Port" {
      color: #7A0050;
    } @else if $type == "Dessert" {
      color: #FFE100;
    }
  }
}
