@import '/src/styles/color.scss';

.header {
  position: sticky;
  width: 100%;
  z-index: 100;
  top: 0;
  background-color: $white;
  border-bottom: 1px solid $grey200;
}

.wrapper {
  display: flex;
  align-items: center;
  padding-left: 15px;

  .icon {
    font-size: 43px;
    margin-right: 5px;
    cursor: pointer;
  }

  .title {
    cursor: pointer;
  }
}