.wrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(1,1,1,.5)!important;
}

.innerWrapper {
  background-color: #fff;
  border-radius: 5px;
}