@import '/src/styles/color.scss';

.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  border: 0;
  background-color: $white;
  border-bottom: 1px solid $grey200;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 952px;
  height: 72px;

  .title {
    cursor: pointer;
  }

  .headerImgs{
    display: flex;
  }
}