@import '/src/styles/responsive.module.scss';

.layout {
  height: 100vh;
}

.main{
  display: flex;

  .content {
    padding-top: 20px;
    width: 49rem;
    margin: 0 auto;

    @include breakpoint(medium) {
      width: 35rem;
    }

    @include breakpoint(small) {
      width: 20rem;
    }
  }
}