@import 'src/styles/color.scss';

.sideBar {
  width: 240px;
  background-color: #ffffff;
  box-shadow: 4px 0 8px 0 rgba(0,0,0,0.1);
  padding-top: 5px;
  
  .menu {
    padding: 1rem;
    cursor: pointer;
    transition: .5s ease;

    &:hover {
      background-color: $grey100;
    }
  }
  
  .selected {
    background-color: $primary100;
    color: $primary500;
    font-weight: bold;
  }
}